//base typography, only html elements, no specific classes

// base size, equals 1em.
$base-size: 10;
$base-size-px: 10px;
$default-line-height: 1.4em;

html,
body {
  font-size: $base-size + px;
  color: $black;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  @include typogram($body);
}

p,
a {
  @include typogram($body);

  strong {
    font-family: $walsheim-bold;
    font-weight: normal;
  }
}

ul,
ol {
  list-style-position: inside;

  li {
    @include typogram($body);
  }
}

table {
  @include typogram($body);
}

h1 {
  @include typogram($h1);
}

h2 {
  @include typogram($h2);
  font-weight: normal;
}

h3 {
  @include typogram($h3);
}

h4 {
  @include typogram($h4);
}

h5 {
  @include typogram($h5);
}

h6 {
  @include typogram($h6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    text-decoration: underline;
  }
}

figcaption {
  @include typogram($caption);
}

blockquote {
  @include typogram($quote);
}

form {
  legend,
  p,
  label,
  input,
  select,
  option,
  textarea {
    @include typogram($body);
  }
}

code {
  background: #eee;
  padding: 0 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin: 0 5px;
  font-size: 20px;
  text-transform: lowercase;
}
