.listen {
  @include wh(100%, auto);

  .content {
    @include wh(100%, auto);
    @include flex-center();

    padding: #{1 * $spacing};

    @include respond-until($screen-xs) {
      padding: #{0.5 * $spacing};
    }

    h2 {
      margin-top: $spacing;
    }

    .listen-link {
      font-size: 2rem;
      margin: #{0.25 * $spacing} 0 #{0.5 * $spacing};
      font-family: $walsheim-light;
      text-align: center;
    }

    .listen-link-span {
      background: rgba($highlight-1, 0.5);
      padding: 2px 10px;
      text-decoration: underline;
    }
  }
}
