//base colors
$white: #fff;
$black: #000;
$lightgrey: #f0f0f0;
$grey: #c9c9c9;

$block-spacing: 2rem;

$c-1: #fff5eb;
$c-2: $black;
$c-3: #edebe7;
$c-4: #faff31;
$c-5: #2747af;
$c-6: #dbc6c6;

$spacing: 3rem;

$content-width: 80rem;
$max-width: 110rem;

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
