//base colors
$white: #fff;
$black: #000;
$lightgrey: #F0F0F0;
$grey: #c9c9c9;

$block-spacing: 2rem;

$c-1: #FFF5EB;
$c-2: $black;
$c-3: #EDEBE7;
$c-4: #FAFF31;
$c-5: #2747af;
$c-6: #DBC6C6;

$spacing: 3rem;

$content-width: 80rem;
$max-width: 110rem;

$screen-xs: 480px !default;
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
